[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scipy = "*"
xarray = "*"
scikit-image = "*"
omegaconf = "*"
netCDF4 = "*"
cftime = "*"
tqdm = "*"
dask = "*"
toolz = "*"


[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
